

.content-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1.5rem 5rem;

}

h1 {
    margin-left: 1rem;
}

.container-calendar {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    align-items: center;
    scrollbar-color: black;
    padding: 2rem;
    background-color: rgb(15 17 18);
    border-radius: 1rem;
    margin: 1rem;
    display: inline-flex;
    width: 93.6%;
}

.container-content-calendar {
    display: flex;
    padding: 1rem;
}

.images-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.images-container img {
    border-radius: 1rem;
}

.fecha-publicacion {
    margin-right: 1rem;
}

.images-container img {
    margin: 1rem;
}

.imgContainer {
    position: relative;
    display: inline-block;
}

img {
    display: block;
    width: 250px;
}

.imgContainer button {
    display: none;
    position: absolute;
    bottom: 10px; /* Ajusta la posici贸n vertical del bot贸n dentro de la imagen */
    right: 10px; /* Ajusta la posici贸n horizontal del bot贸n dentro de la imagen */
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
}

.imgContainer:hover button {
    display: block;
}

.imgContainer:hover img {
    transition: 0.2s;
    filter: brightness(70%);
}